 {% extends 'djangoapp/base.html' %}
 {% load static %}
 {% block content %}
  <main class="container col-md-10" id="content">
        <div class="form-group  block_back p-3">
            <form method="post">{% csrf_token %}
                <h3 ><center>Удаление товара</center></h3>
          <center>  <label>Вы уверены, что хотите удалить обявление "{{ product.name }}"?</label></center>
             <div class="row justify-content-around mb-3">

              <input type="submit" value="Удалить" class="btn btn-success col-md-2 pb-2 me-2 mt-2" id="save">

                <a href="{% url 'monitor' %}" class="btn btn-danger col-md-2 mt-2">Отмена</a>


             </div>
        </form>
        </div>
    </main>
 {% endblock %}