 {% extends 'djangoapp/base.html' %}
 {% load static %}
 {% block content %}

    <main class="container block_back col-md-8" id="content">
        <h3>Редактирование товара</h3>
        <form method="post" enctype="multipart/form-data">{% csrf_token %}
             <div class="row">
            <div class="col-md-6 mt-2">
            <label for="item-name" class="form-label">Наименование</label>
            {{ form.name }}
        </div>
                    <div class="col-md-6 mt-2">
            <label for="category-select" class="form-label">Категория</label>

        <select class="form-control"  id="category" >
            <option value='1'>Ваза</option>
            <option value='2'>Не ваза</option>
        </select>
        </div>
             </div>

             <div class="row">
                    <div class="col-md-6 mt-2">
            <label for="item-name" class="form-label">Цена</label>
            <div class="input-group">
                  {{ form.price }}
                <span class="input-group-text"> ₽</span>
            </div>
        </div>

             <div class="col-md-6 mt-2">
            <label for="item-size" class="form-label">Размер</label>
            {{ form.size }}
        </div>
             </div>

             <div class="row">
        <div class="col-md-6 mt-2">
            <label for="about-textarea" class="form-label">Описание</label>
           {{ form.description }}
        </div>
        <div class="col-md-6 mt-2">
            <label for="choose-foto" class="form-label">Фото</label>
            <div class="input-group">
                {{ form.image }}

            </div>
        </div>
             </div>


        <div class="row justify-content-around p-3 ">

                <a  class="btn btn-success col-md-2 pb-2 me-2 mt-2" id="save">Сохранить</a>


              <input type="submit" value="Отменить"  href="{% url 'monitor' %}" class="btn btn-danger col-md-2 mt-2" >

        </div>
                 </form>

    </main>
{% endblock %}